doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='http://code.jquery.com/jquery.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel="stylesheet", href='/css/loginIn-styles.css')  
  body
  .container
    .loginIn
      h1 Entra al teu perfil
      form(role='form', action="/local/login",method="post", style='max-width: 400px;')
        .form-group
            input.form-control(type='text', name="username", placeholder='Enter Username')
        .form-group
          input.form-control(type='password', name="password", placeholder='Password')
        button.btn.btn-default.submit(type='submit') Submit
        a(href='/')
          button.btn.btn-default.cancel(type="button") Cancel