doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://code.jquery.com/jquery.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel="stylesheet", href='/css/register-styles.css')
  body
  .container
    .register
      h1 Crea un compte
      form(role='form', action="/local/register",method="post", style='max-width: 300px;')
        .form-group
            input.form-control(type='text', name="username", placeholder='Enter Username')
        .form-group
          input.form-control(type='password', name="password", placeholder='Password')
        button.btn.btn-default.submit(type='submit') Submit
        a(href='/')
          button.btn.btn-default.cancel(type="button") Cancel